// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";


// Home Page Style
.home-page-style {
  cursor: none;    // hide mouse layout

  .toggle-btn {
    background: none;
    border: none;
    padding: 0;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .hero-section {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
    // background-color: #f5f5f5;
  }

  .heading-sec {

    h1 {
      font-size: 96px;
      line-height: 115.2px;
      color: $black;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .description {
    font-size: 24px;
    line-height: 1.8;
    max-width: 70%;
    color: rgba($textColor, 0.4);
  }

  .video-sec {
    margin-top: 60px;
  }

  .gradient-first {
    background-image: linear-gradient(to bottom, #DB1D27 0%, 32.421875%, #F04C57 64.84375%, 82.421875%, #FA6672 100%);
    height: 219px;
    width: 36px;
    animation: heightIncreaseAni1 2.5s;
    animation-fill-mode: forwards;
  }

  @keyframes heightIncreaseAni1 {
    from {
      height: 0;
    }

    to {
      height: 219px;
    }
  }

  .gradient-second {
    background-image: linear-gradient(to top, #DB1D27 0%, 32.421875%, #F04C57 64.84375%, 82.421875%, #FA6672 100%);
    height: 153px;
    width: 22px;
    animation: heightIncreaseAni2 2.5s;
    animation-fill-mode: forwards;
  }

  @keyframes heightIncreaseAni2 {
    from {
      height: 0;
    }

    to {
      height: 153px;
    }
  }

  .flex-section {
    display: flex;
    overflow: hidden;
  }
}